# Ignore the following directories
# The local GAE/J setup directory
appengine-java-sdk/

# The build artifacts directory
tmp/
build/

# The project files - those should be created locally
*.iws
*.ipr
*.iml
.idea/

# Other build artifacts
.gradle
